<footer id="mobile-footer">
  <div class="inner">
    <section class="social-links">
      <a class="subscribe" href="{{@site.url}}/rss/">
        Subscribe
        <i class="fas fa-rss"></i>
      </a>
    </section>
    <section class="copyright">
      <a href="{{@site.url}}">
        {{@site.title}}
      </a>
      ©
      {{date format="YYYY"}}
    </section>
  </div>
</footer>