<article class="post post-excerpt" {{post_class}}>
  {{#if feature_image}}
  {{/if}}
  <h1 class="title">{{title}}</h1>
  <time class="publish-date">{{date format="dddd, MMMM Do YYYY"}}</time>
  <div class="content">
    <section class="full">
      {{excerpt}}
    </section>
    <footer class="meta">
    </footer>
  </div>
</article>