{{!< default}}

<main id="site-main" class="site-main">
  <div class="inner">
    <div class="post-feed excerpts">
      {{#foreach posts}}
        {{> "post-excerpt"}}
      {{/foreach}}
    </div>
  </div>
</main>
