html,
body {
  background: $primary-background-color;
}

img {
  max-width: 100%;
}

pre {
  max-width: 100%;
  overflow-x: auto;
}

.clearfix {
  display: block;
  float: none;
  clear: both;
}

body > .wrapper {
  display: inline-block;

  @include respond-below(md) {
    .sidebar-wrapper {
      display: none;
    }

    .content-wrapper {
      display: block;
      box-sizing: border-box;
      width: 100vw;
    }
  }

  @include respond-above(md) {
    .sidebar-wrapper {
      display: block;
      width: $sidebar-width;
      float: left;
      box-sizing: border-box;
    }

    .content-wrapper {
      display: block;
      float: right;
      box-sizing: border-box;
      width: calc(100vw - #{$sidebar-width});
    }
  }
}

main > .inner {
  &:not(.no-padding) {
    padding: 15px;
  }

  @include respond-below(md) {
    margin-top: 50px;
  }

  @include respond-below(sm) {
    margin-top: 65px;
    padding: 0;
  }
}
