footer.site-footer {
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  padding: 10px 0 30px;
  nav {
    margin: 15px;
  }
  section.copyright {
    font-size: 0.75rem;
    a {
      border-width: 1px;
    }
  }
}
