.post-feed {
  display: block;
  margin: 0 auto;

  &.excerpts {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    min-height: 90vh;
    @include respond-above(md) {
      min-height: 100vh;
    }
  }
}

.post-container {
  @include respond-below(md) {
    &.post-full:not(.has-featured-image) {
      margin-top: calc(#{$mobile-menu-height} + 30px);
    }
  }

  .featured-image {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.has-featured-image {
    article.post {
      margin-top: -150px;

      &.post-excerpt {
        display: block;
        border-radius: 3px;
        z-index: 10;
        flex-grow: 1;
        max-width: 500px;
        padding: 0;
        margin: 30px 15px;
      }

      & > .content {
        padding: 15px 25px 25px;
      }
    }
  }
}

article.post {
  display: block;
  position: relative;
  padding: 25px;
  margin: 15px auto;
  border-radius: 3px;
  background: $post-background-color;
  box-sizing: border-box;

  a {
    border-bottom: 3px solid $accent-text-color;

    &.feature-link {
      display: block;
      border-bottom: none;
    }
  }

  h1.title {
    margin-bottom: 0px;
    a {
      line-height: 1em;
      border-bottom: none;
    }
  }

  .tags {
    margin-bottom: 5px;
    a {
      font-size: 0.9rem;
      border-width: 1px;
      margin: 0;
    }
  }

  time.publish-date {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    left: 0;
    top: -30px;
    font-size: 0.75rem;
    font-weight: bold;
    color: $white;
    padding: 3px 15px 3px 15px;
    background: $post-accent-color;
    border-radius: 5px 5px 0 0;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  &.post-excerpt {
    display: block;
    min-width: 350px;
    border-radius: 3px;
    z-index: 10;
    flex-grow: 1;
    max-width: 500px;
    margin: 30px 15px;
    box-shadow: 2px 2px 4px darken($post-background-color, 50%);
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &:first-child {
      padding-top: 35px;
    }

    &:hover {
      background: lighten($post-background-color, 5%);
      transform: translate(-2px, -2px);
      box-shadow: 3px 3px 5px darken($post-background-color, 40%);

      time {
        background: darken($post-accent-color, 10%);
      }
    }
  }

  &:not(.post-excerpt) {
    max-width: 800px;
    box-shadow: 2px 2px 4px darken($post-background-color, 50%);
  }
}
