.post-feed {
  display: block;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  &.excerpts {
    padding: 10px;

    @include respond-below(sm) {
      padding: 0;
    }
  }
}

.post-container {
  position: relative;
  float: left;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;

  &.post-full {
    max-width: 100%;
  }

  @include respond-below(md) {
    max-width: 100%;
    &.post-full:not(.has-featured-image) {
      margin-top: calc(#{$mobile-menu-height} + 30px);
    }
  }

  &.has-featured-image {
    .featured-image {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    article.post-full {
      margin-top: -150px;
      & > .content {
        padding: 15px 25px 25px;
      }
    }

    article.post-excerpt {
      padding: 0;
      & > .content {
        padding: 15px;
      }
    }
  }
}

article.post {
  display: block;
  position: relative;
  padding: 25px;
  margin: 15px auto;
  border-radius: 3px;
  background: $post-background-color;
  box-sizing: border-box;

  &.post-full {
    max-width: 800px;
    box-shadow: 2px 2px 4px darken($post-background-color, 50%);
  }

  &.post-excerpt {
    float: left;
    border-radius: 3px;
    box-sizing: border-box;
    z-index: 10;
    margin: 30px 15px;
    box-shadow: 2px 2px 4px darken($post-background-color, 50%);
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &:hover {
      background: lighten($post-background-color, 5%);
      transform: translate(-2px, -2px);
      box-shadow: 3px 3px 5px darken($post-background-color, 40%);

      time {
        background: darken($post-accent-color, 10%);
      }
    }

    a.feature-link > div {
      height: 275px;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  a {
    border-bottom: 3px solid $accent-text-color;

    &.feature-link {
      display: block;
      border-bottom: none;
    }
  }

  h1.title {
    margin-bottom: 0px;
    a {
      line-height: 1em;
      border-bottom: none;
    }
  }

  .tags {
    margin-bottom: 5px;
    a {
      font-size: 0.9rem;
      border-width: 1px;
      margin: 0;
    }
  }

  time.publish-date {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    left: 0;
    top: -30px;
    font-size: 0.75rem;
    font-weight: bold;
    color: $white;
    padding: 3px 15px 3px 15px;
    background: $post-accent-color;
    border-radius: 5px 5px 0 0;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
}
