.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  text-align: center;
  color: $white;
  margin: 0;
  width: 300px;
  height: 100vh;
  background: $muted-accent;
  border-right: 3px solid darken($muted-accent, 15%);

  h1,
  h2 {
    color: $white;
  }

  .inner {
    display: block;
    margin-top: 125px;
    height: 100%;
  }

  footer.site-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    line-height: 1.5rem;
    padding: 10px 0 30px;
    color: $white;
    nav {
      margin: 15px;
    }
    section.copyright {
      font-size: 0.75rem;
      a {
        color: white;
        border-color: white;
        border-width: 1px;
      }
    }
  }
}
