.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  text-align: center;
  color: $white;
  margin: 0;
  width: 300px;
  height: 100vh;
  background: $sidebar-background-color;
  box-shadow: 3px 0 3px lighten($sidebar-border-color, 10%);
  border-right: 2px solid lighten($sidebar-border-color, 10%);

  .inner {
    display: block;
    margin-top: 50px;
    height: 100%;

    h1,
    h2 {
      color: $sidebar-text-color;
    }

    h2 {
      text-decoration: none;
      font-size: 1.5rem;
    }

    nav {
      margin-top: 50px;
      li {
        margin: 10px 0;
      }
      a {
        display: block;
        color: $sidebar-text-color;
      }
    }

    .logo {
      img {
        box-sizing: border-box;
        max-width: 100%;
        padding: 25px;
      }
    }
  }

  footer.site-footer {
    position: absolute;
    width: $sidebar-width;
    bottom: -10px;
    text-align: center;
    line-height: 1.5rem;
    padding: 10px 0 30px;
    color: $footer-text-color;

    section.social-links {
      a {
        color: $footer-text-color;
      }
    }
    section.copyright {
      font-size: 0.75rem;
      a {
        color: $footer-text-color;
        border-color: $footer-text-color;
        border-width: 1px;
      }
    }
  }
}
