.sidebar {
  display: none;

  @include respond-above(md) {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    color: $white;
    margin: 0;
    width: $sidebar-width;
    height: 100vh;
    background: $sidebar-background-color;
    box-shadow: 3px 0 3px lighten($sidebar-border-color, 10%);
    border-right: 2px solid lighten($sidebar-border-color, 10%);
    z-index: 100;

    .inner {
      display: block;
      margin-top: 50px;
      height: 100%;

      h1,
      h2 {
        color: $sidebar-text-color;
      }

      h2 {
        text-decoration: none;
        font-size: 1.5rem;
      }

      nav {
        margin-top: 50px;
        li {
          margin: 0;
        }
        a {
          display: block;
          color: $sidebar-text-color;
          padding: 10px 0;
          transition: background 0.5s ease-in-out;
          &:hover {
            background: lighten($sidebar-background-color, 10%);
          }
        }
      }

      .logo {
        img {
          box-sizing: border-box;
          width: 100%;
          max-width: calc(#{$sidebar-width} - 75px);
          padding: 15px 30px;
        }
      }
    }

    footer.site-footer {
      width: $sidebar-width;
      text-align: center;
      line-height: 1.5rem;
      padding: 10px 0 30px;
      color: $footer-text-color;

      section.social-links {
        padding: 10px 0;
        a {
          color: $footer-text-color;
          font-size: 1.25rem;
          margin: 0 5px;
        }
      }

      section.copyright,
      section.published-with {
        font-size: 0.75rem;
        a {
          color: $footer-text-color;
          border-color: $footer-text-color;
          border-width: 1px;
          font-weight: bold;
        }
      }
    }
  }
}
