@import "partials/vars";
@import "partials/reset";
@import "partials/typography";
@import "partials/single-post";
@import "partials/footer";

html,
body {
  background: $secondary;
}

img {
  max-width: 100%;
}

pre {
  max-width: 100%;
  overflow-x: auto;
}

body > .wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
}
